/bin/

######################
# Eclipse
######################
 
*.pydevproject
.metadata
.project
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
/src/main/resources/rebel.xml
# External tool builders
.externalToolBuilders/
 
# Locally stored "Eclipse launch configurations"
*.launch
 
# CDT-specific
.cproject
 
# PDT-specific
.buildpath

#NetBeans

dist/
nbproject/
build/
store/
build.xml
config.properties
manifest.mf
client.properties